textarea{
	resize:none;
	margin-bottom: 20px;
}

input, select{
	margin-bottom: 20px;
}

#projectname{
	width: 625px;
}

body{
	font-family: Mallanna;
	background-image: url(../images/struckaxiom.png);
	background-repeat: repeat;
}