textarea{
	resize:none;
	margin-bottom: 20px;
}

input, select{
	margin-bottom: 20px;
}

#projectname, #firstname, #lastname, #updateemail, #updatepassword{
	width: 625px;
}

body{
	font-family: Mallanna;
	background-image: url(struckaxiom.png);
	background-repeat: repeat;
}

