<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CommunityFund Home</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="{% static "communityfund/css/home.css" %}">

	</head>

  <body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <a class="navbar-brand" href="/communityfund/home/">CommunityFund</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
		    <li><a href="/communityfund/home/">Find a Project</a></li>
		    <li><a href="/communityfund/login/">Create a Project</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
		    <li><a href="/communityfund/login/">Login</a></li>
		    <li><a href="/communityfund/signup/">Signup</a></li>
		  </ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
		</nav>

	<div class="col-sm-2" style="border-right: 1px solid black">
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Arts &amp; Crafts
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Comics
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Community
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Dance
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Design
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Education
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Emergancies
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Enviorment
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Events
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Fashion
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Film &amp; Video
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Food
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Games
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Journalism
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Music
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Photography
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Publishing
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Technology
		  </label>
		</div>
		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Theatre
		  </label>
		</div>
	</div>

	{% for project in projects %}
	<div class="col-xs-6 col-sm-10 col-md-5 cfproj" style="border: 1px solid black"> 

		<h2>{{project.projectName }}</h2>
		<h3>{{ project.initiator }}</h3>
		<img src="" alt="project-img">
		<p>{{ project.description }}</p>
		<p>{{ project.duration }} Days</p>
		<p>Goal: ${{ project.goal }}</p>
		<p>${{ project.amountFunded }} funded</p>

	</div>
	<br />
	{% endfor %}




	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  </body>
</html>	